<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="CustomLog\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!--the targets to write to-->
  <targets>
    <!--write logs to file-->
    <target xsi:type="File" name="traceFile" fileName="CustomLog\trace\${shortdate}.log"
            layout="${longdate} |||| ${message}" />

    <target xsi:type="File" name="infoFile" fileName="CustomLog\info\${shortdate}.log"
           layout="${longdate} |||| ${message} " />

    <target xsi:type="File" name="errorFile" fileName="CustomLog\error\${shortdate}.log"
           layout="${longdate} |||| ${message} |||| ${exception}" />
   

      <target name="traceDatabase" xsi:type="Database"
             dbProvider="Npgsql.NpgsqlConnection, Npgsql"
             connectionString="Host=localhost;Port=5432;Database=AppHealth;Username=postgres;Password=pass;Pooling=true;">

        CREATE TABLE public."Logs" (
          id serial NOT NULL,
          ip varchar(45) NULL,
          application varchar(100) NULL,
          "logged" text NULL,
          "level" varchar(100) NULL,
          message varchar(8000) NULL,
          logger varchar(8000) NULL,
          callsite varchar(8000) NULL,
          "exception" varchar(8000) NULL,
          CONSTRAINT logs_pkey PRIMARY KEY (id)
        )

      <commandText>
        INSERT INTO public."Logs"
               ("ip", "application", "logged", "level", "message", "logger", "callsite", "exception")
        VALUES (@ip, @application, @logged, @level, @message, @logger, @callSite, @exception)
      </commandText>

      <parameter name="@ip" layout="${aspnet-request-ip}" />
      <parameter name="@application" layout="AtlasServer" />
      <parameter name="@logged" layout="${date}" dbtype="DateTime" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>

  </targets>

  <!--rules to map from logger name to target-->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" maxlevel="Trace"  writeTo="traceDatabase" />
    <logger name="*" minlevel="Trace" maxlevel="Trace"  writeTo="traceFile" />
    <logger name="*" minlevel="Info"  maxlevel="Info" writeTo="infoFile" />
    <logger name="*" minlevel="Error" maxlevel="Error"  writeTo="errorFile" />

  </rules>
</nlog>