table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
    top: 13px !important;
    left: 10px !important;
    height: 25px !important;
    width: 25px !important;
    line-height: 26px !important;
    font-size: 20px !important;
    font-weight:800;
}
