@model ApplicationHealth.Domain.Entities.AppDef

@{
    ViewData["Title"] = "Detail";
}

<link href="/lib/DataTables/datatables.min.css" rel="stylesheet" />


<div class="card mb-3  text-right">
    <div class="card-body">
        <div class="row">
            <div class="col-3 text-left">
               Adı: <strong> @Model.Name</strong>
            </div> 
            <div class="col-6 text-left">
               Url: <strong> @Model.Url</strong>
            </div> 
            <div class="col-2 text-left">
               Interval: <strong> @Model.Interval</strong>
            </div>
            <div class="col-1 text-right">
                <a href="/home" class="btn btn-sm btn-outline-secondary">
                    <i class="fa fa-arrow-left"></i> Geri
                </a>
            </div>
        </div>
    </div>
</div>



<div class="card">
    <div class="card-body">
        <table class="table" width="100%" id="AppTable">
            <thead>
                <tr class="bg-secondary text-white">
                    <th class="all">Actions</th>
                    <th class="all">Application</th>
                    <th class="all">Url</th>
                    <th class="all">Interval</th>
                    <th class="all">CreatedBy</th>
                    <th class="all">CreatedDate</th>
                    <th class="all">Up/Down</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="crudModal" tabindex="-1" role="dialog" aria-labelledby="crudModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="dynamicContent">

        </div>
    </div>
</div>





@section Scripts{
    <script src="/lib/DataTables/datatables.min.js"></script>
    <script src="/js/home/home.js" asp-append-version="true"></script>
}