@{
    ViewData["Title"] = "Anasayfa";
}


<div class="card mb-3  text-center">
    <div class="card-body">
       <h1>Application Check-Up Portal</h1>
    </div>
</div>

<div class="card">
    <div class="card-body  text-center">
        <a href="/Application/Index" class="btn btn-sm btn-outline-info"><i class="fa fa-cubes"></i> Uygulamalar
        </a>
    </div>
</div>

