
@{
   ViewData["Title"] ="Bu alana girme yetkiniz yoktur...";
   Layout = "~/Views/Shared/_LayoutAccount.cshtml";

}

<header>
   <h1 class="text-danger">@ViewData["Title"]!</h1>
   <p class="text-danger"> ApplicationHealth.MvcWebUI"Bu alana girme yetkiniz yoktur..."]</p>
</header>
