
@{
   ViewData["Title"] = "Doğrulama Başarılı";
   Layout = "/Views/Shared/_LayoutAccount.cshtml";
}

<h1 class="font-green">@ViewData["Title"]</h1>
<div>
   <p>
     ApplicationHealth.MvcWebUI"E-Posta adresinizi doğruladığınız için teşekkür ederiz."]
   </p>
   <a href="/Account/Login" class="btn btn-primary">ApplicationHealth.MvcWebUI"Giriş Yapmak İçin Tıklayınız"]</a>
</div>
