
@{
   ViewData["Title"] = "Şifre Gönderme Doğrulama";
   Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


<h3 class="font-green">ApplicationHealth.MvcWebUI"Şifre Gönderme"]</h3>
<p>ApplicationHealth.MvcWebUI"Şifre değiştirme bağlantısı e-posta adresinize gönderilmiştir"]</p>

<div class="form-actions text-right">
   <a href="/Account/Login" class="btn green btn-outline">ApplicationHealth.MvcWebUI"Giriş Yap"]</a>
</div>
