@model ApplicationHealth.MvcWebUI.AccountModel.ForgotPasswordModel

@{
   ViewData["Title"] = "Şifremi Unuttum";
   Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<form class="form-horizontal" id="" method="post">
   @Html.AntiForgeryToken()

   <div class="form-group ">
      <div class="col-xs-12">
         <h3>ApplicationHealth.MvcWebUI"Şifremi Unuttum ?"]</h3>
         <p class="text-muted">ApplicationHealth.MvcWebUI"E-posta adresinizi girerek şifrenizi sıfırlayabilirsiniz!"] </p>
         @Html.ValidationSummary(true, "", new { @class = "text-danger" })

      </div>
   </div>
   <div class="form-group ">
      <div class="col-xs-12">
         @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", type = "email", autocomplete = "off", placeholder = "E-Mail"})
         @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
      </div>
   </div>
   <div class="form-group text-center m-t-20">
      <div class="col-xs-12">
         <a href="/Account/Login" class="btn btn-outline-warning w-100 mb-1">ApplicationHealth.MvcWebUI"Geri"]</a>
         <button class="btn btn-outline-primary w-100 mb-1" type="submit">ApplicationHealth.MvcWebUI"Reset"]</button>
      </div>
   </div>
</form>
@section Scripts {
   <partial name="_ValidationScriptsPartial" />
}
