

@{
   ViewData["Title"] = "Hesabınız Kilitlendi";
   Layout = "~/Views/Shared/_LayoutAccount.cshtml";

}

<header>
   <h1 class="text-danger">@ViewData["Title"]</h1>
   <p class="text-danger"> ApplicationHealth.MvcWebUI"5 kez hatalı parola girdiğiniz için hesabınız kilitlendi. 5 dk sonra aktifleşecektir"]</p>
</header>
