@{
   ViewData["Title"] = "Çıkış";
   Layout = "~/Views/Shared/_LayoutAccount.cshtml";

}

<header>
   <h1>@ViewData["Title"]</h1>
   <p>ApplicationHealth.MvcWebUI"Sistemden güvenli bir şekilde çıkış yaptınız."]</p>
   <a href="/Account/Login" class="btn btn-secondary">ApplicationHealth.MvcWebUI"Giriş Yap"]</a>
</header>