
@{
      ViewData["Title"] = "Parola Güncelleme";
   Layout = "/Views/Shared/_LayoutAccount.cshtml";

}

<h1>ApplicationHealth.MvcWebUI"Parola Güncelle"]</h1>
<p>
   ApplicationHealth.MvcWebUI"Parolanız başarılı bir şekilde güncellendi."] <a href="/Account/Login">ApplicationHealth.MvcWebUI"Giriş Yapmak İçin Tıklayınız"]</a>.
</p>
