@model ApplicationHealth.Domain.Entities.AppDef

@{
    ViewData["Title"] = "Detail";
}

<link href="/lib/DataTables/datatables.min.css" rel="stylesheet" />
<link href="~/css/custom-dataTable.css" rel="stylesheet" />


<div class="card mb-3  text-right">
    <div class="card-body">
        <div class="row">
            <div class="col-3 text-left">
                Adı: <strong> @Model.Name</strong>
            </div>
            <div class="col-6 text-left">
                Url: <strong> @Model.Url</strong>
            </div>
            <div class="col-2 text-left">
                Interval: <strong> @Model.Interval</strong>
            </div>
            <div class="col-1 text-right">
                <a href="/home" class="btn btn-sm btn-outline-secondary">
                    <i class="fa fa-arrow-left"></i> Geri
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-sm-5">
        <div class="card">
            <div class="card-body">
                <table class="table" width="100%" id="AppContact">
                    <thead>
                        <tr class="bg-info text-white">
                            <th class="all">#</th>
                            <th class="all">Actions</th>
                            <th class="all">Up/Down</th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col col-sm-7">
        <div class="card">
            <div class="card-body">
                <table class="table" width="100%" id="AppContact">
                    <thead>
                        <tr class="bg-info text-white">
                            <th class="all">#</th>
                            <th class="all">Actions</th>
                            <th class="all">Up/Down</th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<partial name="/Views/Shared/_Modal.cshtml" />


@section Scripts{
    <script src="/lib/DataTables/datatables.min.js"></script>
    <script src="/js/home/detail.js" asp-append-version="true"></script>
}
